body {
    min-width: 720px;
    max-height: 850px;
    max-width: 1680px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('img/bg.png');
    font-family: Inter;
    color: #FFF;
}
header {
    width: 510px;
}
p {
    font-size: 15px;
    line-height: 25px;
}
h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
}
main {
    margin: auto;
    max-width: 460px;
}
article {
    margin-bottom: 50px;
}
ul {
    padding-left: 20px;
}
li {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
}
table {
    width: 100%;
}
td {
    width: 50%;
    margin: 0;
}
td p {
    margin: 0;
}
tr {
    margin: 0;
}
footer {
    position: relative;
    text-align: center;
    color: white;
}
.bottom-left {
    font-family: Inter;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    text-align: left;
    width: 360px;
    position: absolute;
    bottom: 50px;
    left: 95px;
}
footer img {
    min-height: 750px;
    min-width: 460px;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    margin-top: 10%;
}
.name {
    font-weight: 600;
    font-size: 75px;
    line-height: 75px;
}
.shortInfoTitle {
    opacity: 0.6;
}
.shortInfoMain {
    height: 73px;
    width: 200px;
    overflow: hidden;
}
.topic {
    margin-top: -10px;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
}
.explanation {
    font-weight: 400;
    font-size: 15px;
}
#skillProgress div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7px;  /* Может быть любой */
    background: #555;
    border-radius: 10px;
}
#internetProgress span {
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#socialMediaProgress span {
    width: 20%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#onlineShoppingProgress span {
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#blockInfo {
    margin-left: 34px;
}